.top-nav{
    background-color: lightgray;
    overflow: hidden;
    
}

.top-nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.top-nav a:hover{
    background-color: lightslategrey;
    
}

.top-nav a.active{
    background-color: #62ACB5
}

.top-nav input{
    float: right;
    padding: 10px 12px;
    text-align: center;
    margin: 0.25rem;
    border: none;
    font-size: 17px;

}